.root {
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1;
    -fx-border-color: #c4c4c4;
}

.titlePane {
    -fx-background-color:  #323030;
    -fx-background-radius: 7 7 0 0;
}

.listView {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.inputPane {
    -fx-background-color:  #ffffff;
    -fx-border-style: solid none solid none;
    -fx-border-width: 1;
    -fx-border-color: #c4c4c4;
}

.closeButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.closeButton:hover {
    -fx-cursor: hand;
}

.maximizeButton:hover {
    -fx-cursor: hand;
}

.minimizeButton:hover {
    -fx-cursor: hand;
}

.basicMode {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.basicMode:hover {
    -fx-background-color: #4b4848;
    -fx-border-color: black;
}
.hamburger {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hamburger:hover {
    -fx-background-color: #4b4848;
    -fx-border-color: black;
}

.gridPane {
    -fx-background-color:  #f7f7f7;
    -fx-background-radius: 0 0 0 0;
}

.btn {
    -fx-background-color: #FCFCFC;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1;
    -fx-border-color: #c4c4c4;
    -fx-border-radius: 4 4 4 4;
}

.btnEquals {
    -fx-background-color: #11a428;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1;
    -fx-border-color: #0c6d1a;
    -fx-border-radius: 4 4 4 4;
}

.btnEquals:pressed {
    -fx-background-color: #0e5519;
    -fx-border-color: #05320c;
}

.scroll-bar:vertical {
    -fx-pref-width: 3;
    -fx-padding: 0px;
}

.btn:pressed {
    -fx-background-color:#c4c4c4;
    -fx-border-color: #959595;
}

.resultList {
    -fx-background-color: transparent;
    -fx-font-size: 40;
    -fx-alignment: bottom-right;
}

.list-cell{
    -fx-background-color: transparent;
    -fx-font-size:15.0;
}
